/* Imports */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");

@font-face {
  font-family: "Light";
  src: url("../fonts/BigShouldersStencilText-Light.ttf") format("truetype");
}

/* CSS general */
/*--------------------------*/
:root {
  --mainColor: #1a242f;
  --mainBgColor: #0f171e;
  --bgColor: #1a242f;
  --mainTextColor: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: Arial;
  background-color: #0f171e;
  text-decoration: none;
  color: var(--mainTextColor);
}

/* Estilos generales del header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
      background: linear-gradient(90deg,
  rgba(26, 35, 46, 1) 0%,
  rgba(25, 36, 46, 1) 29%,
  rgba(35, 52, 68, 1) 66%,
  rgba(26, 35, 46, 1) 100%
);
    padding: 15px 30px;
    color: white;
    -webkit-box-shadow: 0px 13px 15px 5px #000000; 
    box-shadow: 0px 13px 15px 5px #000000;
}

header img {
  position: relative;
  left: 3rem;
  height: 50px;
}

/* Navegación */
.navegacion .lista-navegacion {
    list-style: none;
    display: flex;
    gap: 25px;
}

.lista-navegacion li {
    position: relative; /* Necesario para el dropdown */
    display: flex; 
}

.lista-navegacion a {
    color: white;
    text-decoration: none;
    padding: 8px 5px;
    display: block;
}

/* ---------- DROPDOWN ---------- */

.dropdown-btn{
    display: flex;
    align-items: center;
    gap: 5px;

    .fa-caret-down{
      font-size: 12px;
      border: 2px solid white;
      border-radius: 5px;
      padding: 1px 5px;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2c445e;
    list-style: none;
    padding: 10px 0;
    border-radius: 5px;
    min-width: 150px;
}

.dropdown-content li a {
    padding: 10px 15px;
    white-space: nowrap;
    width: 100%;
}

/* Mostrar menú al pasar el ratón */
.dropdown:hover .dropdown-content {
    display: block;
}

/* efecto hover */
.dropdown-content li a:hover {
    background-color: #253445;
}

/* Buscador */
.fa-magnifying-glass {
  position: relative;
  z-index: 2;
  left: 35px;  
}

.buscador {
  position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    left: 13rem;
}

.buscador input {
    
    padding: 5px 10px;
    background-color: #202c38;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    color: white;
    width: 300px;
}

/* Usuario */
.usuario {
  position: relative;
  margin-left: 0.1rem;
  margin-right: 6rem;
  background-color: rgb(43, 109, 209);
  border-radius: 40px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/*main*/
main{
  padding: 10px;
  margin: 3rem 5rem;

  .first-main{
    background: 
      linear-gradient(90deg,
    rgba(15, 23, 30, 1) 0%,
    rgba(15, 23, 30, 1) 41%,
    rgba(255, 255, 255, 0) 100%
      ),
      url("../img/bg-film.png") no-repeat center;
    

    h1{
      font-family: "Light", sans-serif;
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }

    span{
      font-weight: bolder;
      align-items: center;
      font-size: 11px;
      display: flex;
      margin-bottom: 1rem;
      color: gray;
      gap: 5px;

      div{
        border: 1px solid gray;
        padding: 2px 5px;
        border-radius: 3px;
      }
    }

    .descripcion{
      width: 40%;
      margin-bottom: 1rem;
    }

    .info{
      display: grid;
      grid-template-columns: 150px auto;
      gap: 16px;
      column-gap: 40px;
      margin-top: 20px;
      font-size: 14px;
      margin-bottom: 2rem;

      dt{
        font-weight: bold;
        color: grey
      }

      dd{
        color: rgb(120, 176, 250);
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      margin-bottom: 2rem;
    }

  /* Botones generales */
  .buttons button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      height: 4.2rem;
      min-width: 170px;

      background-color: #2c445e;
      border: none;
      padding: 10px 25px;
      border-radius: 8px;
      color: white;
      font-weight: 500;

      cursor: pointer;
      transition: 0.2s;
    }

    /* Hover suave */
    .buttons button:hover {
        background-color: #3a5778;
    }

    /* -------- Botón "Reproducir" -------- */
    #Rep {
        padding-left: 18px;
    }

    /* Icono Play dentro del botón */
    #Rep .fa-play {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 36px;
        height: 36px;

        background-color: white;
        color: #253445;
        border-radius: 50%;

        font-size: 18px;
    }

    #Op{
      max-width: 10%;
    }

    #Añadir{
      
      max-width: 9px;
    }

    #Desc{
      display: flex;
      flex-direction: column;
      min-width: 10px;
    }   
  }

  .R{
    display: flex;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: whitesmoke 1px solid;
  }

  .second-main{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    article{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
      background-color: #2c445e;
      transition: 0.3s;

      img{
        cursor: pointer;
        
      }

      article:hover{
        transform: scale(1.05);
        background-color: #2c445e;
      }

      span{
        font-size: 2rem;
        font-weight: bolder;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 14px;
      }



    } 
  }
}

footer{
   background: linear-gradient(90deg,
  rgba(26, 35, 46, 1) 0%,
  rgba(25, 36, 46, 1) 29%,
  rgba(35, 52, 68, 1) 66%,
  rgba(26, 35, 46, 1) 100%
);
    padding: 2rem 5rem;
    margin-top: 3rem;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .navegacion-footer .lista-navegacion-footer {
        list-style: none;
        display: flex;
        gap: 25px;
      }

      .lista-navegacion-footer li {
          position: relative; /* Necesario para el dropdown */
          display: flex; 
      }

      .lista-navegacion-footer a {
          color: rgb(69, 98, 190);
          text-decoration: none;
          padding: 8px 5px;
          display: block;
      }
    }


}

@media (max-width: 576px) {
  /* estilos para móvil */
}


@media (min-width: 577px){
  /* estilos para tablet */
}


@media (min-width: 992px) {
  /* estilos para escritorio */
}
